<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="frag(fieldName, fieldValue)">

    <!--remember to add attribute "ticketCollectorId" and "ticketCollectors"-->
    <select th:name="${fieldName}" th:value="${fieldValue}">
        <option th:value="0"
                th:text="'Choose Ticket Collector'">
        </option>

        <th:block th:each="collector : ${ticketCollectors.entrySet()}">
            <option th:value="${collector.key}"
                    th:text="${collector.value}">
            </option>
            <input type="hidden" th:name="${collector.key}" th:value="${collector.key}"/>
            <input type="hidden" th:name="${collector.value}" th:value="${collector.value}"/>
        </th:block>

    </select>

    <th:block th:include="fragments/error.html :: frag(${fieldName})"/>

</th:block>

</html>