<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="frag(fieldName, fieldValue)">

    <!--remember to add attribute "ticketCollectorId" and "ticketCollectors"-->
    <select th:name="${fieldName}"
            th:value="${fieldValue}">
        <option th:value="null"
                th:text="'Choose Ticket Collector'">
        </option>
        <option th:each="collector : ${ticketCollectors.entrySet()}"
                th:value="${collector.key}"
                th:text="${collector.value}">

        </option>

    </select>

    <th:block th:include="fragments/error.html :: frag(${fieldName})"/>

</th:block>

</html>