<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Home Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Reference Bootstrap files -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    <link type="text/css"
          rel="stylesheet"
          href="../css/style.css"/>
</head>

<body>
<div class="container">
    <div class="row>">
        <th:block th:include="fragments/navbar.html :: nav()"/>
    </div>

    <div class="row>">
        <div class="col">
            <br><br>
        </div>
    </div>
    <div class="row>">
        <div class="col">
            <br><br>
        </div>
    </div>

    <div class="row>">
        <div class="col-md-10 col-md-offset-2 col-sm-6 col-sm-offset-2">

            <h2>Welcome</h2>
            <p>Passenger Panel</p>
            <div sec:authorize="isAuthenticated()">
                Logged in.
            </div>
            Authenticated username:
            <div sec:authentication="name"></div>
            <br/>
            <div sec:authorize="hasRole('ROLE_PASSENGER')">
                Passenger options:
                <th:block th:include="fragments/passenger_options.html :: frag()"/>
            </div>
            <br/>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <form th:action="@{/admin}" method="POST">
                    <button type="submit" class="add-button">Admin site (only for admins)</button>
                </form>
                Ł
            </div>
            <br>

            <a th:href="@{/logout}" class="btn btn-success">Logout</a>
        </div>
    </div>
</div>
<div class="page-footer">
    <div th:replace="fragments/footer :: footer()"></div>
</div>
</body>
</html>

