<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Register Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Reference Bootstrap files -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

    <div>

        <div id="loginbox" style="margin-top: 10px;"
             class="mainbox col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-2">

            <div class="panel panel-info">

                <div class="panel-heading">
                    <div class="panel-title">Register New Passenger</div>
                </div>

                <div style="padding-top: 5px" class="panel-body">

                    <!-- Login Form -->
                    <form th:action="@{/register/processRegistration}"
                               method="POST" class="form-horizontal" th:object="${registrationUser}">

                        <div class="form-group">
                            <div class="col-xs-15">
                                <div>

                                    <!-- Check for login error -->

                                    <th:block th:if="${usernameExistsError}">

                                        <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                                            User with this login already exists.
                                        </div>

                                    </th:block>

                                    <th:block th:if="${emailExistsError}">
                                        <div class="alert alert-success col-xs-offset-1 col-xs-10">
                                            User with this e-mail already exists.
                                        </div>
                                    </th:block>


                                </div>
                            </div>
                        </div>

                        <th:block th:include="fragments/input_string.html :: frag(*{login}, 'user', 'Login', 'login')"/>

                        <th:block th:include="fragments/input_string.html :: frag(*{name}, 'user', 'Name', 'name')"/>

                        <th:block th:include="fragments/input_string.html :: frag(*{surname}, 'user', 'Surname', 'surname')"/>

                        <th:block th:include="fragments/input_datepicker.html :: frag(*{birthDate}, 'calendar', '', 'birthDate')"/>

                        <th:block th:include="fragments/input_string.html :: frag(*{pesel}, 'user', 'PESEL', 'pesel')"/>

                        <th:block th:include="fragments/input_string.html :: frag(*{email}, 'envelope', 'Email Address', 'email')"/>

                        <th:block th:include="fragments/input_string.html :: frag(*{city}, 'home', 'City', 'city')"/>

                        <th:block th:include="fragments/input_string.html :: frag(*{street}, 'road', 'Street', 'street')"/>

                        <th:block th:include="fragments/input_string.html :: frag(*{buildingNumber}, 'home', 'Building Number', 'buildingNumber')"/>

                        <th:block th:include="fragments/input_string.html :: frag(*{flatNumber}, 'home', 'Flat Number', 'flatNumber')"/>

                        <th:block th:include="fragments/input_string.html :: frag(*{nationality}, 'home', 'Nationality', 'nationality')"/>

                        <th:block th:include="fragments/input_string.html :: frag(*{birthCountry}, 'home', 'Birth Country', 'birthCountry')"/>

                        <th:block th:include="fragments/input_string.html :: frag(*{birthCity}, 'home', 'Birth City', 'birthCity')"/>

                        <th:block th:include="fragments/input_string.html :: frag(*{phoneNumber}, 'phone', 'Phone Number', 'phoneNumber')"/>

                        <th:block th:include="fragments/input_password.html :: frag(*{password}, 'lock', 'Password', 'password')"/>

                        <th:block th:include="fragments/input_password.html :: frag(*{matchingPassword}, 'lock', 'Confirm Password', 'matchingPassword')"/>

                        <button type="submit"
                                class="btn btn-primary block full-width m-b">Register</button>

                    </form>

                </div>

            </div>

            <!--<form th:action="@{/login}" method="POST">-->
                <!--<button type="submit" class="add-button, btn btn-primary" aria-pressed="true">-->
                    <!--Back to Login Page-->
                <!--</button>-->
            <!--</form>-->

        </div>

    </div>

</body>

</html>